// selettori vuoti non verranno compilati nella versione finale
// section {
// }

// mentre errori, impediscono la ri-generazione del foglio css compilato (il browser non riceverà le ultime modifiche, fino alla risoluzione degli errori)
// div } - o qualsiasi altro tipo di errore di sintassi.

// da questo momento potreste usare una struttura annidata per lavorare in maniera più efficente e controllata
main {
  padding-inline: 3rem;
  section {
    //parent selector ==> &

    h1 {
      color: $main-color;
      transition: background-color 0.3s;

      &:hover {
        background-color: lightgreen;
      }
    }

    div {
      // &:nth-of-type(2) {
      // }
      // &:nth-of-type(3) {
      // }
      // &:nth-of-type(4) {
      // }

      ul {
        li {
          color: blue;

          //parent selector ==> &
          &::marker {
            content: "🤩🥶";
          }
        }
      }
    }
  }
}
// questo si compilerà in questo modo:
// main section h1 {
// }
